In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
cvap_df = pd.read_csv("Section data/cvap_district_2012-2020_clean.csv")
cvap_df.head()

   Unnamed: 0  ...1  geoid cd    state    cvap   moe  year
0           1     1    101  1  Alabama  534357  1100  2012
1           2     2    102  2  Alabama  516042  1405  2012
2           3     3    103  3  Alabama  538124  1369  2012
3           4     4    104  4  Alabama  511065  1544  2012
4           5     5    105  5  Alabama  540512   940  2012

In [3]:
cvap_df.loc[cvap_df["cd"] == "AL", "cd"] = 0
cvap_df["cd"] = cvap_df.cd.astype(int)

In [4]:
house_polls_df = pd.read_csv("Section data/house_polls_long.csv")
house_polls_df.head()

,Unnamed: 0,pollster,sponsors,display_name,fte_grade,start_date,end_date,sample_size,population,year,election_date,candidate_name,state,st_fips,cd_fips,st_cd_fips,dem_cand,rep_cand,DEM,REP
0,1,Moore Information,NRCC,Moore Information,B/C,8/3/22,8/7/22,400.0,lv,2022,11/8/22,John Duarte,California,6,13,613,Rudy Salas,John Duarte,39,43
1,2,RMG Research,United States Term Limits,RMG Research,B-,7/30/22,8/5/22,400.0,lv,2022,11/8/22,David G. Valadao,California,6,22,622,Cindy Axne,David G. Valadao,41,34
2,3,RMG Research,United States Term Limits,RMG Research,B-,7/29/22,8/5/22,400.0,lv,2022,11/8/22,Zach Nunn,Iowa,19,3,1903,Daniel T. Kildee,Zach Nunn,43,49
3,4,RMG Research,United States Term Limits,RMG Research,B-,7/28/22,8/4/22,400.0,lv,2022,11/8/22,Paul Junge,Michigan,26,8,2608,Yadira Caraveo,Paul Junge,42,40
4,5,Global Strategy Group,NaN,Global Strategy Group,B/C,7/26/22,8/2/22,500.0,lv,2022,11/8/22,Barbara Kirkmeyer,Colorado,8,8,808,Adam Gray,Barbara Kirkmeyer,37,44

In [5]:
incumb_dist_df = pd.read_csv("Section data/incumb_dist_1948-2020 (3).csv")
incumb_dist_df.head()

,Unnamed: 0,...1,office,year,state,st_fips,district_num,district_id,winner_party,RepVotes,...,RepStatus,DemVotes,DemCandidate,DemStatus,RepVotesMajorPercent,DemVotesMajorPercent,winner_candidate,winner_candidate_inc,st_cd_fips,president_party
0,1,1,House,2020,Alabama,1,1,AL01,R,211825,...,Challenger,116949,"Averhart, James",Challenger,64.43,35.57,RepCandidate,Challenger,101,D
1,2,2,House,2020,Alabama,1,2,AL02,R,197996,...,Challenger,105286,"Harvey-Hall, Phyllis",Challenger,65.28,34.72,RepCandidate,Challenger,102,D
2,3,3,House,2020,Alabama,1,3,AL03,R,217384,...,Incumbent,104595,"Winfrey, Adia McClellan",Challenger,67.51,32.49,RepCandidate,Incumbent,103,D
3,4,4,House,2020,Alabama,1,4,AL04,R,261553,...,Incumbent,56237,"Neighbors, Rick",Challenger,82.30,17.70,RepCandidate,Incumbent,104,D
4,5,5,House,2020,Alabama,1,5,AL05,R,253094,...,Incumbent,0,NaN,NaN,100.00,0.00,RepCandidate,Incumbent,105,D

In [6]:
incumb_dist_df.columns

Index(['Unnamed: 0', '...1', 'office', 'year', 'state', 'st_fips',
       'district_num', 'district_id', 'winner_party', 'RepVotes',
       'RepCandidate', 'RepStatus', 'DemVotes', 'DemCandidate', 'DemStatus',
       'RepVotesMajorPercent', 'DemVotesMajorPercent', 'winner_candidate',
       'winner_candidate_inc', 'st_cd_fips', 'president_party'],
      dtype='object')

In [7]:
expert_df = pd.read_csv("expert_rating.csv")
expert_df.head()

,year,state,district,cook,rothenberg,cq_politics,sabatos_crystal_ball,real_clear,roll_call,ny_times,the_hill,daily_kos,fivethirtyeight,ddhq,elections_daily,politico,fox,the_economist,avg_rating
0,2010,Alabama,2,4,4.75,4.0,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.95
1,2010,Alabama,5,6,7.00,7.0,6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.40
2,2010,Arizona,1,5,5.50,5.0,5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.10
3,2010,Arizona,3,5,7.00,7.0,5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.80
4,2010,Arizona,5,4,4.75,4.0,5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.55

In [8]:
house_df = pd.read_csv("house party vote share by district 1948-2020.csv")
house_df.head()

,Office,State,CensusPop,raceYear,Area,RepVotes,RepCandidate,RepStatus,DemVotes,DemCandidate,...,raceNotes,st_fips,state_abb,CD,district_num,district_id,WinnerParty,TotalVotesMajor,vote_margin,R_vote_margin
0,House,Alabama,NaN,2020,District 1,211825,"Carl, Jerry",Challenger,116949,"Averhart, James",...,NaN,1,AL,AL-01,1,AL01,R,328774,0.288575,0.2886
1,House,Alabama,NaN,2020,District 2,197996,"Moore, Barry",Challenger,105286,"Harvey-Hall, Phyllis",...,NaN,1,AL,AL-02,2,AL02,R,303282,0.305689,0.3056
2,House,Alabama,NaN,2020,District 3,217384,"Rogers, Mike D.",Incumbent,104595,"Winfrey, Adia McClellan",...,NaN,1,AL,AL-03,3,AL03,R,321979,0.350299,0.3502
3,House,Alabama,NaN,2020,District 4,261553,"Aderholt, Robert",Incumbent,56237,"Neighbors, Rick",...,NaN,1,AL,AL-04,4,AL04,R,317790,0.646074,0.6460
4,House,Alabama,NaN,2020,District 5,253094,"Brooks, Mo",Incumbent,0,NaN,...,NaN,1,AL,AL-05,5,AL05,R,253094,0.956277,1.0000

In [9]:
house_df.columns

Index(['Office', 'State', 'CensusPop', 'raceYear', 'Area', 'RepVotes',
       'RepCandidate', 'RepStatus', 'DemVotes', 'DemCandidate', 'DemStatus',
       'ThirdParty', 'ThirdVotes', 'ThirdCandidate', 'ThirdStatus',
       'OtherVotes', 'PluralityVotes', 'PluralityParty',
       'ThirdVotesTotalPercent', 'RepVotesMajorPercent',
       'DemVotesMajorPercent', 'raceNotes', 'st_fips', 'state_abb', 'CD',
       'district_num', 'district_id', 'WinnerParty', 'TotalVotesMajor',
       'vote_margin', 'R_vote_margin'],
      dtype='object')

In [10]:
train_df = house_df[["State", "state_abb", "raceYear", "district_num", "RepVotesMajorPercent"]]

In [11]:
train_df["national_turnout"] = 0
train_df.loc[train_df["raceYear"] == 2020, "national_turnout"] = 0.667
train_df.loc[train_df["raceYear"] == 2018, "national_turnout"] = 0.500
train_df.loc[train_df["raceYear"] == 2016, "national_turnout"] = 0.601
train_df.loc[train_df["raceYear"] == 2014, "national_turnout"] = 0.368
train_df.loc[train_df["raceYear"] == 2012, "national_turnout"] = 0.586
train_df.loc[train_df["raceYear"] == 2010, "national_turnout"] = 0.410

<ipython-input-11-a209cbc3b550>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["national_turnout"] = 0
/Users/joshuadoolan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/joshuadoolan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/joshuadoolan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/joshuadoolan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/joshuadoolan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Users/joshuadoolan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [12]:
train_df["dist_turnout"] = pd.merge(house_df, cvap_df, left_on=["State", "district_num", "raceYear"], right_on=["state", "cd", "year"], how="left")["TotalVotesMajor"]/pd.merge(house_df, cvap_df, left_on=["State", "district_num"], right_on=["state", "cd"], how="left")["cvap"]

<ipython-input-12-8bd51308c674>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["dist_turnout"] = pd.merge(house_df, cvap_df, left_on=["State", "district_num", "raceYear"], right_on=["state", "cd", "year"], how="left")["TotalVotesMajor"]/pd.merge(house_df, cvap_df, left_on=["State", "district_num"], right_on=["state", "cd"], how="left")["cvap"]

In [13]:
train_df["D_inc"] = house_df["DemStatus"] == "Incumbent"
train_df["R_inc"] = house_df["RepStatus"] == "Incumbent"

<ipython-input-13-80a4c25bbf21>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["D_inc"] = house_df["DemStatus"] == "Incumbent"
<ipython-input-13-80a4c25bbf21>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["R_inc"] = house_df["RepStatus"] == "Incumbent"

In [14]:
expert_df.loc[expert_df["district"] == "AL", "district"] = 0
expert_df["district"] = expert_df["district"].astype(int)

In [15]:
train_df["avg_rating"] = pd.merge(train_df, expert_df, how="left", left_on=["raceYear", "State", "district_num"], right_on = ["year", "state", "district"])["avg_rating"]

<ipython-input-15-9ee28d230e8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["avg_rating"] = pd.merge(train_df, expert_df, how="left", left_on=["raceYear", "State", "district_num"], right_on = ["year", "state", "district"])["avg_rating"]

In [16]:
train_df[~train_df["avg_rating"].isna()]

,State,state_abb,raceYear,district_num,RepVotesMajorPercent,national_turnout,dist_turnout,D_inc,R_inc,avg_rating
7,Alaska,AK,2020,0,54.58,0.667,0.682080,False,True,5.40625
8,Arizona,AZ,2020,1,48.39,0.667,0.707652,True,False,2.34375
9,Arizona,AZ,2020,2,44.88,0.667,0.738157,True,False,1.12500
13,Arizona,AZ,2020,6,52.17,0.667,0.775708,False,True,4.12500
18,Arkansas,AR,2020,2,55.37,0.667,0.650608,False,True,4.50000
...,...,...,...,...,...,...,...,...,...,...
2590,West Virginia,WV,2010,1,50.40,0.410,0.438809,False,False,4.20000
2592,West Virginia,WV,2010,3,43.96,0.410,0.347185,True,False,2.00000
2595,Wisconsin,WI,2010,3,48.04,0.410,0.555669,True,False,2.75000
2599,Wisconsin,WI,2010,7,53.98,0.410,0.502814,False,False,4.55000
2600,Wisconsin,WI,2010,8,54.83,0.410,0.537776,True,False,5.10000

In [17]:
wiki_data = pd.read_html("https://en.wikipedia.org/wiki/2022_United_States_House_of_Representatives_elections")

In [18]:
unique_districts = []

In [19]:
for state_df in wiki_data[5:(5+50)]:
    for dist in state_df["District"]["Location"].unique():
        dist_data = {}
        dist_data["state"] = dist.split("\xa0")[0]
        dist_data["district"] = dist.split("\xa0")[1]
        dist_data["R_inc"] = ((state_df[state_df["District"]["Location"] == dist]["Incumbent"]["Party"] == "Republican") & (state_df[state_df["District"]["Location"] == dist]["Incumbent"]["Status"] == "Incumbent renominated")).sum() > 0
        dist_data["D_inc"] = ((state_df[state_df["District"]["Location"] == dist]["Incumbent"]["Party"] == "Democratic") & (state_df[state_df["District"]["Location"] == dist]["Incumbent"]["Status"] == "Incumbent renominated")).sum() > 0
        unique_districts.append(dist_data)
    # state = state_df.iloc[0, 0]
    # state_df.columns = state_df.iloc[0, :]
    # state_df = state_df.iloc[1:, :]
    # state_df["state"] = state
    # train_df = pd.concat([train_df, state_df], axis=0)

In [20]:
test_df = pd.DataFrame(unique_districts)
test_df.loc[test_df["district"] == "at-large", "district"] = 0
test_df["district"] = test_df["district"].astype(int)

In [21]:
test_df

         state  district  R_inc  D_inc
0      Alabama         1   True  False
1      Alabama         2   True  False
2      Alabama         3   True  False
3      Alabama         4   True  False
4      Alabama         5  False  False
..         ...       ...    ...    ...
430  Wisconsin         5   True  False
431  Wisconsin         6   True  False
432  Wisconsin         7   True  False
433  Wisconsin         8   True  False
434    Wyoming         0  False  False

[435 rows x 4 columns]

In [22]:
abb_info = house_df.groupby("State").first()["state_abb"]
abb_info = pd.DataFrame(abb_info).reset_index()

# list(house_df.groupby("State").first()["state_abb"].index)

In [23]:
test_df["abb_info"] = pd.merge(test_df, abb_info, how="left", left_on=["state"], right_on=["State"])["state_abb"]

In [24]:
dist_538 = test_df["district"]
dist_538[dist_538 == 0] = 1
test_df["abb-dist"] = test_df["abb_info"] + "-" + dist_538.astype(str)
test_df

<ipython-input-24-1ee1ab928628>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dist_538[dist_538 == 0] = 1

         state  district  R_inc  D_inc abb_info abb-dist
0      Alabama         1   True  False       AL     AL-1
1      Alabama         2   True  False       AL     AL-2
2      Alabama         3   True  False       AL     AL-3
3      Alabama         4   True  False       AL     AL-4
4      Alabama         5  False  False       AL     AL-5
..         ...       ...    ...    ...      ...      ...
430  Wisconsin         5   True  False       WI     WI-5
431  Wisconsin         6   True  False       WI     WI-6
432  Wisconsin         7   True  False       WI     WI-7
433  Wisconsin         8   True  False       WI     WI-8
434    Wyoming         1  False  False       WY     WY-1

[435 rows x 6 columns]

In [25]:
toplines_df = pd.read_csv("538_house_district_toplines_2022.csv")
toplines_df.head()

/Users/joshuadoolan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,cycle,branch,district,forecastdate,expression,name_D1,name_D2,name_D3,name_D4,name_I1,...,wonrunoff_R2,lostrunoff_R2,wonrunoff_R3,lostrunoff_R3,wonrunoff_R4,lostrunoff_R4,wonrunoff_I1,lostrunoff_I1,simulations,timestamp
0,2022,House,WY-1,10/19/22,_lite,Lynnette GreyBull,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,10:52:16 19 Oct 2022
1,2022,House,WV-2,10/19/22,_lite,Barry Lee Wendell,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,10:52:16 19 Oct 2022
2,2022,House,WV-1,10/19/22,_lite,Lacy Watson,NaN,NaN,NaN,Belinda Fox-Spencer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,10:52:16 19 Oct 2022
3,2022,House,WI-8,10/19/22,_lite,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,10:52:16 19 Oct 2022
4,2022,House,WI-7,10/19/22,_lite,Richard Dick Ausman,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000,10:52:16 19 Oct 2022

In [26]:
toplines_df["turnout"] = toplines_df["mean_predicted_turnout"]/toplines_df["vep"]

In [27]:
test_df["dist_turnout"] = pd.merge(test_df, toplines_df.groupby("district").first()["turnout"].reset_index(), how="left", left_on=["abb-dist"], right_on=["district"])["turnout"]

In [28]:
test_df

         state  district  R_inc  D_inc abb_info abb-dist  dist_turnout
0      Alabama         1   True  False       AL     AL-1      0.398542
1      Alabama         2   True  False       AL     AL-2      0.447579
2      Alabama         3   True  False       AL     AL-3      0.417574
3      Alabama         4   True  False       AL     AL-4      0.450853
4      Alabama         5  False  False       AL     AL-5      0.484456
..         ...       ...    ...    ...      ...      ...           ...
430  Wisconsin         5   True  False       WI     WI-5      0.644996
431  Wisconsin         6   True  False       WI     WI-6      0.438187
432  Wisconsin         7   True  False       WI     WI-7      0.597895
433  Wisconsin         8   True  False       WI     WI-8      0.506072
434    Wyoming         1  False  False       WY     WY-1      0.460467

[435 rows x 7 columns]

In [29]:
test_df["avg_rating"] = pd.merge(test_df, expert_df.loc[expert_df["year"] == 2022], how="left", left_on=["state", "district"], right_on=["state", "district"])["avg_rating"]

In [30]:
test_df[~test_df["avg_rating"].isna()]

,state,district,R_inc,D_inc,abb_info,abb-dist,dist_turnout,avg_rating
8,Arizona,1,True,False,AZ,AZ-1,0.540554,5.055556
9,Arizona,2,False,True,AZ,AZ-2,0.481664,4.944444
11,Arizona,4,False,True,AZ,AZ-4,0.467595,2.638889
13,Arizona,6,False,False,AZ,AZ-6,0.511097,5.194444
23,California,3,False,False,CA,CA-3,0.569778,5.916667
...,...,...,...,...,...,...,...,...
418,Washington,5,True,False,WA,WA-5,0.470462,6.888889
419,Washington,6,False,True,WA,WA-6,0.500064,1.222222
421,Washington,8,False,True,WA,WA-8,0.536863,3.222222
426,Wisconsin,1,True,False,WI,WI-1,0.565482,6.777778
428,Wisconsin,3,False,False,WI,WI-3,0.534202,5.388889

In [31]:
train_df[train_df["raceYear"] > 2010].to_csv("train_races.csv", index=False)

In [32]:
test_df.to_csv("test_races.csv", index=False)